* {
  box-sizing:border-box;
}
body {
  background-color:lightgrey;
  margin:0;
  padding:0;
}
.gridLayout {
  width:90vw;
  height: auto;
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap:16px;
}
.item {
  height: 100vh;
  background-color:white;
}

@media (min-width: 550px) and (max-width: 800px) {
  .gridLayout {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 550px) {
  .gridLayout {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* overlaid fixed grid */
#gridLines {
  position: fixed;
  height:100vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
#gridLines > * {
  height: 100vh;
}
.showGrid {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

